html, body { height:100%; }

body {
	font-family: 'Roboto', serif;
	margin: 0, 0, 0 ,0 ;
}
img {
	max-width: 100%;
	width: 100%;
}

figcaption {
	font-family: 'Roboto', serif;
	font-size: 15px;
	margin-top: 15px;
	font-style: italic;

}

a {
  color: blue;
}


.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    height: 80%;
  	height: 480px;
}

.content {
	width: 750px;
	margin-left: 20px;
	margin-top: 20px;
}

img.cycle-next {
	cursor: url('eyeball 10.18.53.png'), crosshair;
}

.Project2, .Project3, .Project4, .Project5, .Project6, .Project7, .Project8, .Project9, .Project10 {
	margin-top: 30px;
}



#me {
	font-weight: bold;
	font-size: 350%;

	margin-left: 20px;
}



#contactmore, #contentabout {
	display:none;
}


#header {
	font-family: 'Roboto', serif;
}

#contact:hover {
	color: blue;
}

#contact {
	font-size: 350%;
	position: fixed;
    bottom: 5px;
  	right: 20px;
  	text-decoration: underline;

}

#about:hover{
	color: blue;
}

#about {
	font-size: 350%;
	position: fixed;
	top: 0; 
	right: 20px;
  	text-decoration: underline;

}

#contactmore{
	position: fixed;
	bottom: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 0px;
	margin-left: 859px;
	margin-right: 19px;
	font-size: 150%;
	color: blue;
}

#contentabout {
	position: fixed;
	top: 67px; 
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-left: 839px;
	margin-right: 19px;
	font-size: 150%;
	color: blue;
}
